<div class="modal-overlay" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>Вход в аккаунт</h2>
      <button class="close-btn" (click)="close()">×</button>
    </div>
     
      <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" class="auth-form">
        <div class="form-group">
          <label for="login">Логин</label>
          <input 
            id="login" 
            type="email" 
            formControlName="login" 
            placeholder="Введите ваш логин">
          @if (loginForm.get('login')?.invalid && loginForm.get('login')?.touched) {
            <div class="error-message">
              Введите корректный логин
            </div>
          }
        </div>

        <div class="form-group">
          <label for="password">Пароль</label>
          <input 
            id="password" 
            type="password" 
            formControlName="password" 
            placeholder="Введите пароль">
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <div class="error-message">
              Минимум 6 символов
            </div>
          }
        </div>

        @if (errorMessage) {
          <div class="auth-error">
            {{ errorMessage }}
          </div>
        }

        <button 
          type="submit" 
          class="auth-button" 
          [disabled]="loginForm.invalid || isLoading">
          @if (isLoading) {
            <span class="spinner"></span>
          } @else {
            <span>Войти</span>
          }
        </button>
      </form>
  </div>
</div>